.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background: url("https://uploads-ssl.webflow.com/5b680680f109cf5a2fd941ab/5b6817d95fc94c67bf48eaab_image-header.jpg") no-repeat ;
}
nav{
    padding: 0 30px 0 30px;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: center;
}
.navigation_container{
    width: 1170px;
    height: 90px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    margin: 20px 0 20px 0;
}
.svg_burg{
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
}
.nav_link{
    padding: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;

}
.nav_button{
    display: flex;
    align-items: center;
    padding: 9px 15px;
    border: 2px #fff solid;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
}
.nav_button:hover{
    transition: 200ms;
    background-color: #fff;
    color: #000;
}
.header_content{
    font-family: 'Libre Franklin', sans-serif;
    color: #fff;
    width: 770px;
    margin-top: calc(210px - 90px);
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.main_text{
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 30px;
}
.after_main{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'IBM Plex Mono', monospace;
}
.but_get{
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    background-color: #5ab963;
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;

}
.but_get:hover{
    transition: 200ms;
    background-color: #478f4e;
}
.features{
    padding: 120px 30px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    font-family: 'Libre Franklin', sans-serif;

}
hr{
    background-color: #e6e6e6;
    height: 1px;
    margin-top: 120px;
    width: 100%;
}
.container{
    width: 1170px;
}
.h2_container{
    margin-bottom: 90px;
    font-weight: 300;
    font-size: 24px;
    color: #b3b3b3;
}
.colection{
    display: flex;
    justify-content: space-between;
}
.colection_item{
    border: 1px #f7f7f7 solid;
    height: 330px;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.05);
    padding: 50px 40px;
    flex: 1;
}
.colection_item:not(:last-child){
    margin-right: 10px;
}
.bold_h2{
    font-size: 24px;
    font-weight: 800;
    color: #000;
    font-family: 'Libre Franklin', sans-serif;

}
.icon{
    margin-bottom: 25px;
}
.colection_item>h3,p{
    margin-bottom: 10px;
}
.colection_item>h3{
    font-weight: 600;
    font-size: 16px;
}
.colection_item>p{
    font-weight: 400;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    color: #9999;
}
.slider{
    display: flex;
    justify-content: center;
    padding: 0px 30px;
}
.about{
    display: flex;
    justify-content: center;
    padding: 115px 30px 0 30px;
}
.text_block{
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about_main{
    font-weight: 300;
    font-size: 24px;
    color: #b3b3b3;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;

}
.green_small_text{
    font-weight: 400;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    color: #5ab963;
    text-decoration: none;
}
.about>.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.premium{
    display: flex;
    justify-content: center;
    padding: 120px 30px 0px 30px;
}
.row{
    display: flex;
    align-items: center;
}
.row_text{
    max-width: 370px;
}
.row_text_first{
    margin-left: 100px;
    order:2;
}
.row_text_second{
    margin-right: 100px;
}
.about_premium{
    margin-bottom: 25px;
}
.row_image{
    order:2;
}
.row_text_second{
    order:1;
}
.second_row{
    margin-top: 90px;
    justify-content: flex-end;
}
.first_row{
    justify-content: flex-start;
}
.about_premium{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #b3b3b3;
}
.about_premium>.bold_h2{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    font-weight: 800;
}
.row_text>p{
    font-weight: 400;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #999;
}
.third_row{
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.third_row>.main_text{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;

}
.get_started{
    display: flex;
    justify-content: center;
    padding: 150px 30px;
}
.get_started>.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta_left_top{
    font-size: 16px;
    font-weight: 600;
    color: #5ab963;
    font-family: 'Libre Franklin', sans-serif;
    margin-bottom: 15px;

}
.about_get{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #b3b3b3;
}
.cta_column{
    flex: 1;
}
.cta_column_second{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer{
    padding: 120px 30px;
    background-color: #000;
    display: flex;
    justify-content: center;
}
footer>.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_column{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}
.footer_column:not(:last-child){
    padding-right: 50px;
}
.footer_column_logo{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #666;
}
.footercol{
    display: flex;
    flex-direction: row;
}
.footer_link{
    margin-bottom: 25px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
.footer_row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;

}
.footer_row_social{
    height: 100%;
}
.footer_link_social{
     margin-right: 15px;
 }
.nav_logo{
    margin-bottom: 15px;
}
@media screen and (max-width: 991px) and (min-width: 768px){
    .slider>img{
        width: 100%;
    }

    .nav_menu{
        display: none;
    }
    .svg_burg{
        display: block;
    }
    .navigation_container{
        max-width: 726px;
    }
    .container{
        max-width: 726px;
    }
    nav{
        padding: 0 30px 0 30px;
    }
    .header_content{
        margin: 0;
        padding: 210px 60px 120px 60px;
    }
    .main_text{
        text-align: center;
    }
    .header{
        background-size: cover;
    }
    .row_image{
        max-width: 370px;
    }
    .row_image>img{
        width: 100%;
    }
    .row{
        align-items: flex-start;
    }
    .row_text_second{
        margin-right: 50px;
    }
    .row_text_first{
        margin-left: 50px;
    }
    .footer_column_fourth{
        display: flex;
        align-items: flex-end;
    }
}
@media screen and (max-width: 767px) and (min-width: 480px){
    .nav_menu{
        display: none;
    }
    .slider>img{
        width: 100%;
    }
    .navigation_container{
        width: 100%;
    }
    .container{
        width: 100%;    }
    .colection{
        flex-direction: column;
    }
    .header{
        background-size: cover;
    }
    .main_text{
        font-size: 48px;
    }
    .header_content{
        max-width: 420px;
        text-align: center;

    }
    .row_image{
        max-width: 370px;
    }
    .row_image>img{
        width: 100%;
    }
    .row{
        align-items: flex-start;
    }
    .row_text_second{
        margin-right: 0px;
    }
    .row_text_first{
        margin-left: 0px;
    }
    .row_text{
        margin-top: 60px;
        order: 4;
    }
    .footer_column_fourth{
        display: flex;
        align-items: flex-end;
    }
    .colection_item:not(:last-child){
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .premium{
        padding: 60px 30px 0 30px;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .third_row{
        margin-top: 50px;
    }
    hr{
        margin-top: 90px;
    }
    .get_started{
        padding: 90px 30px;
    }
    .get_started>.container{
        flex-direction: column;
    }
    .cta_column{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .cta_column_second{
        margin-right: auto;
    }
    footer>.container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }
    .footer_column_logo{
        margin-bottom: 30px;
    }
    footer{
        padding: 60px 30px;
    }
    .footer_link_social{
        margin-right: 7px;
    }

}
@media screen and (max-width: 479px) and (min-width:240px){
    .nav_menu{
        display: none;
    }
    .slider>img{
        width: 100%;
    }
    .navigation_container{
        width: 100%;
    }
    .container{
        width: 100%;    }
    .colection{
        flex-direction: column;
    }
    .header{
        background-size: cover;
    }
    .main_text{
        font-size: 30px;
        text-align: center;
    }
    .main_text+a{
        text-align: center;
    }
    .header_content{
        max-width: 200px;
        text-align: center;

    }
    .row_image{
        max-width: 200px;
    }
    .row_image>img{
        width: 100%;
    }
    .row{
        align-items: flex-start;
    }
    .row_text_second{
        margin-right: 0px;
    }
    .row_text_first{
        margin-left: 0px;
    }
    .row_text{
        margin-top: 60px;
        order: 4;
    }
    .footer_column_fourth{
        display: flex;
        align-items: flex-end;
    }
    .colection_item:not(:last-child){
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .premium{
        padding: 60px 30px 0 30px;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .third_row{
        margin-top: 50px;
    }
    hr{
        margin-top: 90px;
    }
    .get_started{
        padding: 90px 30px;
    }
    .get_started>.container{
        flex-direction: column;
    }
    .cta_column{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .cta_column_second{
        margin-right: auto;
    }
    footer>.container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }
    .footer_column_logo{
        margin-bottom: 30px;
    }
    footer{
        padding: 60px 30px;
    }
    .footer_link_social{
        margin-right: 7px;
    }
    .footercol{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer_column{
        flex: 1;
    }
    .footercol>.footer_column{
        padding-right: 30px;
    }
    .footer_column_fourth{
        align-items: flex-start;
    }
    .bold_h2{
        font-size: 20px;
    }
    .h2_container{
        font-size: 20px;
    }
    .about{
        padding: 55px 30px;
    }

    .about_main{
        font-size: 20px;
    }
    .about_premium>.bold_h2{
        font-size: 20px;
     }
    .about_premium{
        font-size: 20px;
    }
    .about_get{
        font-size: 20px;
    }
}